.idea
/node_modules
/public_html/hot
/public_html/storage
/public_html/js
/public_html/css
/public_html/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
